[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
openai = "*"
unstructured = "*"
python-docx = "*"
chromadb = "*"
fastapi = "*"
uvicorn = "*"
transformers = "*"
sentence-transformers = "*"
pinecone-client = "*"
pinecone = {extras = ["grpc"], version = "*"}
langchain-chroma = "*"
flask = "*"

[dev-packages]
tomlcheck = "*"
toml = "*"

[scripts]
init-db = "python -m src.ai_ga.init_db"
start = "python -m src.ai_ga.main"

[requires]
python_version = "3.10"
python_full_version = "3.10.15"
