[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
openai = "*"
unstructured = "*"
python-docx = "*"
fastapi = "*"
uvicorn = "*"
transformers = "*"
sentence-transformers = "*"
pinecone-client = "*"
pinecone = {extras = ["grpc"], version = "*"}
langchain-chroma = "*"
flask = "*"
anthropic = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]
tomlcheck = "*"
toml = "*"

[scripts]
run-db-image = "docker compose -f docker-compose.yaml up -d"
init-db = "python -m src.ai_ga.init_db"
start = "python -m src.ai_ga.main"
stop-db-image = "docker compose -f docker-compose.yaml down"

[requires]
python_full_version = "3.10.15"
